@{
    ViewBag.Title = "Profile";
}
@{
    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";
    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" + Path.GetFileName(photo.FileName);
            imagePath = @"Images\"+newFileName;
            photo.Save(@"~\"+imagePath);
        }
    }
 }
@{ 
    WebImage Profilephoto = null;
    var ProfileFileName = "";
    var ProfilePath = "";
    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (Profilephoto != null)
        {
            ProfileFileName = Guid.NewGuid().ToString() + "_" + Path.GetFileName(photo.FileName);
            ProfilePath = @"Images\" + ProfileFileName;
            Profilephoto.Save(@"~\" + ProfilePath);
        }
    }
}

<link href="@Url.Content("~/Content/Profile.css")" rel="stylesheet" type="text/css" />

<head>
	<div class="head">
		<div class="banner">
		@if (imagePath != "")
		{
			<div class="background-image">
				<img src="@imagePath" />
			</div>
			<br />
        }
        else
        {
			<div class="background-image">Upload background image</div>
        }
		</div>
		<div class="spaceBetween">
			@if (ProfilePath != "")
            {
				<img src="@ProfilePath" />
            }
            else
            {
			<img src="@Url.Content("~/Content/Images/facebookdefaultprofile.jpg")" />
            }
			<!--<input type="file" onchange="loadImageFile(this)"/>-->
			<form action="" method="post" enctype="multipart/form-data">
				<input type="file" name="Image" />
				</br>
				<input type="submit" value="Upload" />
			</form>
			<div>
				<a href="@Url.Action("Index","HomePage")" class="editProfileBtn">
					Edit Profile
				</a>
			</div>
		</div>
		<diV>
			<h1>User Name</h1>
		</diV>
		<div>
			<p>Bio</p>
		</div>
	</div>

	<div class="followerRow">
		<table>
			<tr>
				<td>
					| 100 following
				</td>
				<td>
					&nbsp;&nbsp;|&nbsp;&nbsp;
				</td>
				<td>
					100 followers
				</td>
				<td>
					&nbsp;&nbsp;|&nbsp;&nbsp;
				</td>
				<td>
					20 Memories |
				</td>
			</tr>
		</table>
	</div>
</head>

<body>
	<div>
		<p>
			<form class="posts" action="" method="post">
				<input class="text-box" type="text" name="Posts" /> <br />
				<input class="post-btn" type="submit" value="Post" />
			</form>
		</p>
	</div>
</body>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("Memcomb", "Index", "LogInPage", new { area = "" }, new { @class = "navbar-brand" })
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Home", "Index", "HomePage")</li>
				<li>@Html.ActionLink("Notifications", "About", "LogInPage")</li>
				<li>@Html.ActionLink("Messages", "Index", "LogInPage")</li>
				<li>@Html.ActionLink("Profile", "Index", "Profile")</li>
				<li>@Html.ActionLink("Settings", "Index", "Settings")</li>
			</ul>
		</div>
	</div>
</div>