@model Memcomb.Models.User
@{
    ViewBag.Title = "Profile";
}

@{	var resprofile = "";
    var setprofileImage = "";
    var resbackground = "";
    var setbackgroundImage = "";
    if (Html.DisplayNameFor(model => model.Profile_Picture) != null)
    {
        resprofile = Model.Profile_Picture.Replace(@"~", ""); //Need to set this to work for server
        setprofileImage = resprofile.Replace(@"\", "/");
    }
    if (Html.DisplayNameFor(model => model.Background_Pic) != null)
    {
        resbackground = Model.Background_Pic.Replace(@"~", ""); //Need to set this to work for server
        setbackgroundImage = resbackground.Replace(@"\", "/");
    }
}
<link href="@Url.Content("~/Content/Profile.css")" rel="stylesheet" type="text/css" />
<head>

    <div class="head" style="align-content: center; width: 80%; margin: auto">
		<div>
			<div>
				@using (Html.BeginForm("_post_background", "Profile", null, FormMethod.Post, new
				{
					enctype = "multipart/form-data"
				}))
                {
					@Html.AntiForgeryToken()
						<button class="background-image">
						<img
						src="@setbackgroundImage" style="padding: 6px; width: 100%; height: 190px;" />
						</button>
                }
			</div>
			<br />
		</div>
			<div style="margin-left: 40%">
				@using (Html.BeginForm("_post_profile", "Profile", null, FormMethod.Post, new
				{
					enctype = "multipart/form-data"
				}))
				{
					@Html.AntiForgeryToken()
					<div>
						<button id="profile_upload" style="width:180px; height:180px;
							margin: auto;
							-moz-border-radius: 60px;
							border-radius: 100px;
							padding: 6px;
							background-color: orangered;
							box-shadow: 0px 0px 20px #ff6a00;">
							<img src="@setprofileImage" style="width:160px; height:160px;
								 -moz-border-radius: 60px;
								 border-radius: 100px;" />
						</button>
					</div>
                }
			</div>
			<br />
		<h1>
		</h1>
		<div>
			<h1 style="color: yellow; font: bold; text-align-last: center;">
				@Model.First_Name @Model.Last_Name
			</h1>
			<p style="text-align-last: center; color: greenyellow;">@Html.DisplayTextFor(model => model.Biography)</p>
			<br />
			<div style="margin-left: 45%; margin-right: 45%;">
			@using (Html.BeginForm("_post_bio", "Profile", null, FormMethod.Post, new
			{
				enctype = "multipart/form-data"
			}))
			{
				<button style="color: saddlebrown; background-color: yellow; border-color: saddlebrown">Edit</button>
			}
			</div>
		</div>
	</div>

	
</head>

<body>
	<div class="followerRow">
		<table style="color: darkorange; margin-left: 90px">
			<tr>
				<td>
					|
					@{

                        Html.RenderPartial("_FollowingPartial", Model.Followings);
					}

				</td>
				<td>
					&nbsp;&nbsp;|&nbsp;&nbsp;
				</td>
				<td>
					X Followers
					

				</td>
				<td>
					&nbsp;&nbsp;|&nbsp;&nbsp;
				</td>
				<td>
					@ViewBag.memoryCount Memories Posted |
				</td>
			</tr>
		</table>
	</div>
</body>
	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Memcomb", "Index", "LogInPage", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "HomePage")</li>
					<li>@Html.ActionLink("Profile", "Index", "Profile")</li>
					<li>@Html.ActionLink("Settings", "Index", "Settings")</li>
				</ul>
			</div>
		</div>
	</div>
