@{
	ViewBag.Title = "Profile";
}
@model Memcomb.Models.ProfilePageModel
@{
	WebImage photo;
	var newFileName = "";
	var imagePath = "";
	if (Request.Form["uploadProfile"]!=null)
	{
		photo = WebImage.GetImageFromRequest();
		if (photo != null)
		{
			newFileName = Guid.NewGuid().ToString() + "_" + Path.GetFileName(photo.FileName);
			imagePath = @"Images\" + newFileName;
			photo.Save(@"~\" + imagePath);
		}
	}
}
@{
	WebImage background;
	var BackgroundFileName = "";
	var BackgroundPath = "";
	if (Request.Form["uploadBackground"]!=null)
	{
		background = WebImage.GetImageFromRequest();
		if (background != null)
		{
			BackgroundFileName = Guid.NewGuid().ToString() + "_" + Path.GetFileName(background.FileName);
			BackgroundPath = @"Images\" + BackgroundFileName;
			background.Save(@"~\" + BackgroundPath);
		}
	}
}
<link href="@Url.Content("~/Content/Profile.css")" rel="stylesheet" type="text/css" />
<head>
	<div class="head">
		<div>
				<div>
					<img class="background-image" src="@BackgroundPath" style="margin:auto; padding: 6px;" />
				</div>
				<br />
		</div>
		<div>
				<div>
					<img src="@imagePath" style="width:160px; height:160px;
					margin: auto;
					-moz-border-radius: 60px;
					border-radius: 100px;
					padding: 6px;
					box-shadow: 0px 0px 20px #ff6a00;" />
				</div>
				<br />
		</div>
		<h1>
			<!--<img src="@Url.Action("Index", "Profile")" style="width:160px; height:160px;
					margin: auto;
					-moz-border-radius: 60px;
					border-radius: 100px;
					padding: 6px;
					box-shadow: 0px 0px 20px #ff6a00;" />-->
		</h1>
		<div class="spaceBetween">
			<div>
				@using (Html.BeginForm("Index", "Profile", FormMethod.Post, new
				{
					enctype = "multipart/form-data",
					id="profileImage"
				}))
				{
					@Html.AntiForgeryToken()
					<div class="form-group">
						<div class="form-inline">
							<input type="file" name="Edit Profile Image" id="profileImage" accept=".png,.jpg,.jpeg,.gif,.tif,.jfif" />
							<input type="submit" name="uploadProfile" value="Upload Profile"/>
						</div>
					</div>
				}
			</div>
			<!--if (ProfilePath != "")
			{
				<img src="ProfilePath" />
			}
			else
			{
				<img src="Url.Content("~/Content/Images/facebookdefaultprofile.jpg")" />
			}
			-->
			<!--<input type="file" onchange="loadImageFile(this)"/>-->
			<div>
				@using (Html.BeginForm("Index", "Profile", FormMethod.Post, new
				{
					enctype = "multipart/form-data",
					id = "backgroundImage"
				}))
				{
					@Html.AntiForgeryToken()
					<div class="form-group">
						<div class="form-inline">
							<input type="file" name="Edit Background Image" id="backgroundImage" accept=".png,.jpg,.jpeg,.gif,.tif,.jfif" />
							<input type="submit" name="uploadBackground" value="Upload Background"/>
						</div>
					</div>
				}
			</div>
			<div>
				<a href="@Url.Action("Index", "HomePage")" class="editProfileBtn">
					Edit Profile
				</a>
			</div>
		</div>
		<diV>
			<h1>User Name</h1>
		</diV>
		<div>
			<p>Bio</p>
		</div>
	</div>

	<div class="followerRow">
		<table>
			<tr>
				<td>
					| 100 following
				</td>
				<td>
					&nbsp;&nbsp;|&nbsp;&nbsp;
				</td>
				<td>
					100 followers
				</td>
				<td>
					&nbsp;&nbsp;|&nbsp;&nbsp;
				</td>
				<td>
					20 Memories |
				</td>
			</tr>
		</table>
	</div>
</head>

<body>
	<div>
		<p>
			<form class="posts" action="" method="post">
				<input class="text-box" type="text" name="Posts" /> <br />
				<input class="post-btn" type="submit" value="Post" />
			</form>
		</p>
	</div>
</body>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("Memcomb", "Index", "LogInPage", new { area = "" }, new { @class = "navbar-brand" })
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Home", "Index", "HomePage")</li>
				<li>@Html.ActionLink("Notifications", "About", "LogInPage")</li>
				<li>@Html.ActionLink("Messages", "Index", "LogInPage")</li>
				<li>@Html.ActionLink("Profile", "Index", "Profile")</li>
				<li>@Html.ActionLink("Settings", "Index", "Settings")</li>
			</ul>
		</div>
	</div>
</div>