@model IEnumerable<Memcomb.Models.Following>

@{
    ViewBag.Title = "Index";
}

    <link href="@Url.Content("~/Content/Settings.css")" rel="stylesheet" type="text/css" />
<body>
<h2>Following List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            User_Following
        </th>
        <th>
            User_Followed
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_Following)
            @Html.DisplayFor(modelItem => item.User.First_Name)
            @Html.DisplayFor(modelItem => item.User.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Followed)
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
</body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Memcomb", "Index", "LogInPage", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "HomePage")</li>
                <li>@Html.ActionLink("Notifications", "About", "HomePage")</li>
                <li>@Html.ActionLink("Messages", "Index", "HomePage")</li>
                <li>@Html.ActionLink("Profile", "Index", "Profile")</li>
                <li>@Html.ActionLink("Settings", "Index", "Settings")</li>
            </ul>
        </div>
    </div>
</div>
