@using Memcomb;
@model IEnumerable<Memcomb.Models.Memory>

@{
	ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/HomePage.css")" rel="stylesheet" type="text/css" />

<body class="body">

	<!-- Start of homepage memories -->
	<div>
		@foreach (var mem in Model.Reverse())
		{

			var fragment = mem.Fragments.Where(a => a.Memory_ID == mem.Memory_ID);
			var comment = mem.Comments.Where(a => a.Memory_ID == mem.Memory_ID);
			var res = mem.getProfilePic.Replace(@"C:\Users\17347\Desktop\Capstone Project\Github\MemcombRepo\Memcomb", ""); //Need to set this to work for server
			var setProfilePic = res.Replace(@"\", "/");
			var memoryID = mem.Memory_ID;

			<div>
				<br /><br />

				<div class="displayMemoryBackground">

					<span id="profileUserID_" class="profilePicAndUserName">
						<img src="@setProfilePic" id="memoryHighlight" class="profilePic" /> 
						<span class="userName">
							@Html.DisplayFor(Model => mem.getFirstName)
							@Html.DisplayFor(Model => mem.getLastName)
						</span>
					</span>
					<div class="memoryTitle">
						@Html.DisplayFor(Model => mem.Memory_Title)
					</div>
					<div class="memoryDescription">
						@Html.DisplayFor(Model => mem.Memory_Description)
					</div>
					<div>
						<hr class="hrColor" />
					</div>
					<div class="form-inline">
						<div class="form-group">
							@Html.DisplayFor(Model => fragment, "Fragment")
						</div>
						<div class="form-group">
							<div class="commentsBackgroundAreaBorder">
								<div id="@memoryID" class="commentsBackgroundArea">
									@{Html.RenderPartial("_commentsArea", new Memcomb.Models.Comment{ Memory_ID = memoryID }); }
									@{Html.RenderPartial("_displayComments", comment); }
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		}
		<hr />
	</div>

	<!-- End of homepage memories -->

</body>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("Memcomb", "Index", "LogInPage", new { area = "" }, new { @class = "navbar-brand" })
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Home", "Index", "HomePage")</li>
				<li>@Html.ActionLink("Profile", "Index", "Profile")</li>
				<li>@Html.ActionLink("Settings", "Index", "Settings")</li>
				<li>
					@{
						var memory = new Memcomb.Models.Memory();
						memory.CreateFragments(1);

						Html.RenderPartial("_CreateMemory", memory);


					}
				</li>
			</ul>
		</div>
	</div>
</div>
