
@{
	ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/HomePage.css")" rel="stylesheet" type="text/css" />

@model Memcomb.Models.HomePageModel

<body class="body">

	<!-- Create Memory Modal -->

	<!-- Trigger/Open The Modal -->
	<button id="myBtn" class="createMemoryBtn">Create Memory</button>

	<!-- The Modal -->
	<div id="myModal" class="modal">

		<!-- Modal content -->
		<div class="modal-content">

			@using (Html.BeginForm("Index", "HomePage", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				@Html.AntiForgeryToken()
				<div class="col-md-12">
					<div class="form-horizontal">
						<div class="form-group col-md-12">
							@Html.EditorFor(model => model.memory.Memory_Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Memory Title" } })
							@Html.EditorFor(model => model.memory.Memory_Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Memory Description" } })
						</div>
						<div class="form-group col-md-12">
							<div class="form-inline">
								<div class="btn btn-primary">
									@Html.TextBoxFor(model => model.fragment.getImagePath, new { @class = "form-control", type = "file", id = "imageBrowes" })
								</div>
								<span>
									<input type="submit" value="Post Memory!" class="btn" />
								</span>
								<span id="createMemoryClose" class="close">&times;</span>
							</div>
							<div>
								<input type="button" id="button" onclick="duplicate()" value="Add Another Image" class="btn" />
							</div>

							<hr />
						</div>
						<div class="form-inline">
							<div id="duplicator" class="form-group col-md-3">
								<div id="imgPreview" class="thumbnail" style="display:none">
									<img id="targetImg" class="img-responsive" />
									<div class="caption">
										@Html.EditorFor(model => model.fragment.Fragment_Location, new { htmlAttributes = new { @class = "form-control", id = "memoryLocation", placeholder = "City, State" } })<!--<input type="text" id="memoryLocation" placeholder="City, State" />-->
										@Html.EditorFor(model => model.fragment.Fragment_Date, new { htmlAttributes = new { @class = "form-control", id = "memoryDate", placeholder = "mm/dd/yyyy" } })
										@Html.EditorFor(model => model.fragment.Memory_Description, new { htmlAttributes = new { @class = "form-control", id = "memoryCaption", placeholder = "Caption" } })
										<br /><span id="highlight">Make this your highlight? @Html.EditorFor(model => model.fragment.Is_Highlight)</span><br />
										<a href="#" onclick="ClearPreview()"><i class="glyphicon glyphicon-trash"></i></a>
										<span id="description"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			 }
		</div>
	</div>
	<!-- End Of Create Memory Modal -->

	<!-- Start of homepage memories -->
	<div>
		<!--
	<div>
		<input type="button" id="button" onclick="duplicateMemoriesDiv()" value="Add Another Memory" class="btn" />
	</div>
	-->

		@foreach (var file in Directory.GetFiles(Server.MapPath("~/Memories/User_ID_2021/Memory_ID_19")))
		{
			//set the image src to that file
			var res = file.Replace(@"\", "/");
			var replace = res.Replace(@"C:/Users/17347/Desktop/Capstone Project/Github/MemcombRepo/Memcomb", "");


			<div id="duplicatorForTimeLineMemories">
				<hr />

				<div id="memoryID_" class="displayMemoryBackground">

					<span id="profileUserID_" class="profilePicAndUserName">
						<img src="~/Images/memcombLogo.png" id="memoryHighlight" class="profilePic" />
						<span class="userName">User Name</span>
					</span>

					<hr />

					<!-- Trigger/Open The Modal -->
					<div class="displayMemoryBtn">
						
						<button class="displayMemoryBtnBackground" id="viewMemoryID_"><img class="memoryHighlight" src="@replace"></button>
						<button class="displayMemoryBtnBackground" id="viewMemoryID_"><img class="memoryHighlight" src="~/Memories/User_ID_2021/Memory_ID_20/24_giants.jfif"></button>

					</div>

					<hr />

					<!-- The Modal -->
					<div id="theMemories" class="modal">

						<!-- Modal content -->
						<div class="modal-content">

							<span id="viewMemoryClose" class="close">&times;</span>
						</div>
					</div>
				</div>


			</div>
		 }
		<hr />
	</div>
	<!-- End of homepage memories -->


</body>

<script>

	// Get the modal
	var modal = document.getElementById("myModal"); // Create Memory Modal
	var theMemoriesModal = document.getElementById("theMemories"); // View Memory Modal

	// Get the button that opens the modal
	var btn = document.getElementById("myBtn"); // Create Memory Modal
	var viewMemoryBtn = document.getElementById("viewMemoryID_"); // View Memory Modal

	// Get the <span> element that closes the modal
	var span = document.getElementById("createMemoryClose");
	var theMemoriesModalClose = document.getElementById("viewMemoryClose");

	// When the user clicks the button, open the modal
	btn.onclick = function () {
		modal.style.display = "block";
	}
	viewMemoryBtn.onclick = function () {
		theMemoriesModal.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function () {
		modal.style.display = "none";
	}
	theMemoriesModalClose.onclick = function () {
		theMemoriesModal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function (event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
		if (event.target == theMemoriesModal) {
			theMemoriesModal.style.display = "none";
		}
	}

</script>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
<script>

	// Start of upload Memories
	var i = 0;

	$(document).ready(function () {
		$("#imageBrowes").change(function () {
			var File = this.files;

			if (File && File[0]) {
				ReadImage(File[0]);
			}

		})
	})

	var ReadImage = function (file) {

		var reader = new FileReader;
		var image = new Image;

		reader.readAsDataURL(file);
		reader.onload = function (_file) {

			image.src = _file.target.result;
			image.onload = function () {

				var height = this.height;
				var width = this.width;
				var type = file.type;
				var size = ~~(file.size / 1024) + "KB";

				$("#targetImg").attr('src', _file.target.result);
				$("#description").text("Size:" + size + ", " + height + "X" + width + " " + type + "");
				$("#imgPreview").show();
			}
		}
	}

	/*
	$(document).ready(function () {
		$("#saveToDB").click(function () {
			$.ajax(
				{
					type: "POST", //HTTP POST Method
					url: "HomePage/Index", // Controller/View
					data: { //Passing data
						Fragment_Data: $("#targetImg" + i).val(), //Reading text box values using Jquery
						Fragment_Date: $("#memoryDate" + i).val(),
						Memory_Description: $("#memoryCaption" + i).val(),
						Fragment_Location: $("#memoryLocation" + i).val(),
						Is_Highlight: $("#highlight" + i).val()

					}

				});
		});
	});*/

	function duplicate() {
		var clone = divDuplicator.cloneNode(true); // "deep" clone
		clone.id = "targetImg" + ++i;
		// or clone.id = ""; if the divs don't need an ID
		divDuplicator.parentNode.appendChild(clone);
	}

	var ClearPreview = function () {
		$("#imageBrowes").val("");
		//$("#description" + i).text("");
		//$("#imgPreview" + i).hide();

		$(document).on("click", "#targetImg" + i, function () {
			$(this).remove();
		})

		i = i - 1;
	}
	// End of Memory Upload

	// Start of Load Memories to Home Page

	var divDuplicatorForMemories = document.getElementById('duplicatorForTimeLineMemories');

	function duplicateMemoriesDiv() {
		var clone = divDuplicatorForMemories.cloneNode(true); // "deep" clone
		clone.id = "memoryID_" + ++i;
		divDuplicatorForMemories.parentNode.appendChild(clone);
	}

	//window.onload = function() { duplicateMemoriesDiv(); }
	/*
	const fs = require('fs');
	const path = require('path')

	function filewalker(dir) {
		let results = [];

		fs.readdir(dir, function(err, list) {
			//if (err) return done(err);

			var pending = list.length;

			//if (!pending) return done(null, results);

			list.forEach(function(file){
				file = path.resolve(dir, file);

				fs.stat(file, function(err, stat){
					// If directory, execute a recursive call
					if (stat && stat.isDirectory()) {
						// Add directory to array [comment if you need to remove the directories from the array]
						results.push(file);
							
						filewalker(file, function(err, res){
							results = results.concat(res);

								

							//if (!--pending) done(null, results);
						});
					} else {
						results.push(file);

						//if (!--pending) done(null, results);
					}
				});
			});
		});
	};

	//window.onload = function() { duplicateMemoriesDiv(); }

	
	window.onload = function () {
		//duplicateMemoriesDiv();
		//filewalker("C:/Users/17347/Desktop/Capstone Project/Github/MemcombRepo/Memcomb/Memories/User_ID_2021/Memory_ID_1003");

		console.log("hello");
	}*/
	// End of Load Memories to Home Page

</script>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("Memcomb", "Index", "LogInPage", new { area = "" }, new { @class = "navbar-brand" })
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Home", "Index", "HomePage")</li>
				<li>@Html.ActionLink("Notifications", "About", "HomePage")</li>
				<li>@Html.ActionLink("Messages", "Index", "HomePage")</li>
				<li>@Html.ActionLink("Profile", "Index", "Profile")</li>
				<li>@Html.ActionLink("Settings", "Index", "Settings")</li>
			</ul>
		</div>
	</div>
</div>

