
@model Memcomb.Models.Fragment
@using Memcomb.Models

@Html.HiddenFor(model => model.Memory_ID)
@Html.HiddenFor(model => model.Date_Posted)

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<div class="fragmenttts form-group">
        <div class="thumbnail imgPreviewBlock">
           
            @Html.TextBoxFor(model => model.getImagePath, new { @class = "form-control", type = "file", onchange = "document.getElementById('imgPreview').src = window.URL.createObjectURL(this.files[0])" })

            <div class="caption">
                @Html.EditorFor(model => model.Fragment_Location, new { htmlAttributes = new { @class = "form-control", id = "memoryLocation", placeholder = "City, State" } })
                @Html.EditorFor(model => model.Fragment_Date, new { htmlAttributes = new { @class = "form-control", id = "memoryDate", placeholder = "mm/dd/yyyy", value = " " } })
                @Html.EditorFor(model => model.Memory_Description, new { htmlAttributes = new { @class = "form-control", id = "memoryCaption", placeholder = "Caption" } })
                <br /><span id="highlight">Make this your highlight? @Html.EditorFor(model => model.Is_Highlight)</span><br />
                <span class="glyphicon glyphicon-trash"></span>
                @Html.RemoveLink("Remove", "div.thumbnail", "input.mark-for-delete")
            </div>
        </div>
	</div>