
@model Memcomb.Models.Memory

@Html.HiddenFor(model => model.User_ID)
@Html.HiddenFor(model => model.Date_Created)
<div class="form-group">
	<div class="form-inline">
		<span class="blockForMemoryTitleAndDesc">
			@Html.EditorFor(model => model.Memory_Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Memory Title", style = "width:440px" } })
			<br />
			@Html.EditorFor(model => model.Memory_Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Memory Description", style = "width:440px" } })
		</span>
		<div class="form-group ">
			<img id="imgPreview" class="img-responsive imgPreview" />
		</div>
	</div>
	<hr />

	<div class="form-inline" id="fragmentsAdder">
		@Html.EditorFor(model => model.Fragments)
	</div>
</div>
